/* #CSS
------------------------------ 

    #HTML5
    #BODY
        #TYPOGRAPHY
    #HELPERS
    #IMAGES
    #BUTTONS
    #SITE STRUCTURE
        #HEADER
            #SITE-BRANDING (LOGO)
            #SITE NAVIGATION
        #FOOTER
        #SECTIONS
            #HERO
    #LAYOUT
        #GRIDS
    #EFFECTS (FADE-INS)

 ------------------------------ */

 /* TYPOGRAPHY */

 body {
    font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
    color: rgb(0 0 0 / .7);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    font-size: 87.5%;
    line-height: 1.5em;
    background-color: rgb(255 255 255);
 }

 h1 {
  font-family: 'LEMON MILK BOLD', 'Avenir Next', Helvetica, sans-serif;
  font-size: 3em;
 }

 h2 {
  font-family: 'LEMON MILK BOLD', 'Avenir Next', Helvetica, sans-serif;
 }

 h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 86%;
 }

strong {
  font-family: 'LEMON MILK BOLD', 'Avenir Next', Helvetica, sans-serif;
}

/* CUSTOMIZED TYPE */

.contact {
  text-transform: uppercase;
  font-weight: 600;
}

.blue {
  font-family: 'LEMON MILK MED', 'Avenir Next', Helvetica, sans-serif;
  color: rgb(113 192 177);
}

.pink {
  color: rgb(242 172 184 / 1);
 }

.orange {
  color: rgb(222 166 86 / 1);
 }

.red {
  color: rgb(232 133 124 / 1);
 }

.purple {
  color: rgb(215 162 228 / 1);
 }

 /* BUTTONS */

 .button {
  display: inline-block;
  color:rgb(255 255 255 / 1);
  background: rgb(113 192 177);
  border: 2px solid rgb(113 192 177);
  border-radius: 1em;
  padding: 1em 2em;
  margin: .5em;
}
.button:hover {
  background: rgb(84 150 138);
  color: rgba(255 255 255 / 1);
  border-color: rgb(84 150 138);
  border-radius: 3em;
}

 /* CUSTOM FONT STYLING */
/* FONT CREDIT: https://marsnev.com/ */

@font-face {
  font-family: 'LEMON MILK BOLD';
  src: url('../fonts/lemonmilk-bold/LEMONMILK-Bold.eot');
  src: url('../fonts/lemonmilk-bold/LEMONMILK-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/lemonmilk-bold/LEMONMILK-Bold.woff2') format('woff2'),
      url('../fonts/lemonmilk-bold/LEMONMILK-Bold.woff') format('woff'),
      url('../fonts/lemonmilk-bold/LEMONMILK-Bold.ttf') format('truetype'),
      url('../fonts/lemonmilk-bold/LEMONMILK-Bold.svg#LEMONMILK-Bold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'LEMON MILK MED';
  src: url('../fonts/lemonmilk-medium/LEMONMILK-Medium.eot');
  src: url('../fonts/lemonmilk-medium/LEMONMILK-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/lemonmilk-medium/LEMONMILK-Medium.woff2') format('woff2'),
      url('../fonts/lemonmilk-medium/LEMONMILK-Medium.woff') format('woff'),
      url('../fonts/lemonmilk-medium/LEMONMILK-Medium.svg') format('truetype'),
      url('../fonts/lemonmilk-medium/LEMONMILK-Medium.svg#LEMONMILK-Medium') format('svg');
  font-style: normal;
}

 /*  LINKS */

 a {
    color: rgb(0 0 0 / .4);
    text-decoration: none;
 }

 a:hover {
    color: rgb(0 0 0 / .6);
 }

 /* HELPERS */

 .text-centered {
    text-align: center;
 }

 .about-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
 }

 /* FULL-WIDTH HELPER */

 .full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
 }

 .full-width img {
  width: 100%;
 }

 /* VIDEO */

 video {
  width: 100% !important;
  height: auto !important;
 }

 .video-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 aspect ratio (divide 9 by 16 = 0.5625) */
 }

 .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
 }

 /* IMAGES */

 img {
    max-width: 100%;
    height: auto;
 }

 img.circular {
  border-radius: 100%;
 }

 .selected-img {
  filter: grayscale(1);
 }

 .selected-img:hover {
  filter: grayscale(0);
 }

 /* SITE STRUCTURE */

 .site-header, .site-footer {
   text-align: center;
   padding: 3em 0 2em 0;
   text-transform: uppercase;
   letter-spacing: 0.15em;
 }

 .site-identity h1 {
   font-size: 2em;
   margin: 0;
   font-weight: normal;
 }

 .site-navigation ul {
   margin: 0;
   padding: 2em 0;
 }

 .site-navigation li {
   margin: 0 .5em;
   padding: 0;
   display: inline-block;
 }

 .site-navigation a {
   display: block;
   padding: 1em .5em;
   color: rgb(0 0 0 / .4);
 }

 .site-navigation a:hover,
 .site-navigation a.selected {
   color: rgb(0 0 0 / .6);
   border-bottom: 0.05em solid rgb(113 192 177);
 }

 section {
   padding: 0 0 3em 0;
 }

 hr {
  margin-bottom: 3.5em;
  border-bottom: .1em solid rgb(0 0 0 / .5);
 }

 /* PERSONAL SECTION */

 .custom-headline {
  font-family: 'LEMON MILK MED', 'Avenir Next', Helvetica, sans-serif;
  font-size: 2em;
  padding-bottom: 1em;
  line-height: 1;
  color: rgb(113 192 177);
 }

 /* HERO SECTIONS */

 .hero {
  padding: 0;
  background: #dedede;
  margin-bottom: 6em;
 }

 /* LAYOUT: THUMB IMAGE GRID */

 .thumbgrid, .thumbgrid2, .thumbgrid3 {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .thumbgrid li {
  list-style: none;
  width: 49.5%;
  padding-bottom: 0.4%;
 }

.thumbgrid2 li {
  list-style: none;
  width: 24.5%;
  padding-bottom: 0.4%;
 }

 .thumbgrid3 li {
  list-style: none;
  width: 24.5%;
  padding-bottom: 0.4%;
 }

 @media (min-width: 768px) {
  .thumbgrid li {
    width: 49.5%;
  }

  .thumbgrid3 li {
    width: 24.5%;
  }
 }

 .thumbgrid a img {
  filter: brightness(1.05);
  transition: all ease-in-out 0.2s;
  border: 1px solid rgb(255 255 255 / 0);
 }

 .thumbgrid a:hover img {
  filter: contrast(1.20);
  border: 1px solid rgb(113 192 177);
 }

 .thumbgrid3 a img {
  filter: brightness(1.05);
  transition: all ease-in-out 0.2s;
  border: 1px solid rgb(255 255 255 / 0);
 }

 .thumbgrid3 a:hover img {
  filter: contrast(1.20);
  border: 1px solid rgb(113 192 177);
 }

 /* LAYOUT: FLEX GRID */

 @media (min-width: 768px) {

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .one-third.column {
    width: 32%;
  }

  .two-thirds.column {
    width: 60%;
  }

 }

 /* PAGE FADE-INS */

 @keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

 }

 main, fade-in {
  opacity: 0;
  animation: fade-in ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
 }

 @keyframes fade-and-move-in {

  from {
    transform: translate(0, -20px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }

 }

 .fade-and-move-in * {
  opacity: 0;
  animation: fade-and-move-in ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
 }

 .fade-and-move-in *:nth-child(1) {
  animation-delay: 0.1s;
}

.fade-and-move-in *:nth-child(2) {
  animation-delay: 0.2s;
}

.fade-and-move-in *:nth-child(3) {
  animation-delay: 0.4s;
}

.fade-and-move-in *:nth-child(4) {
  animation-delay: 0.7s;
}

.fade-and-move-in *:nth-child(5) {
  animation-delay: 1s;
}

.fade-and-move-in *:nth-child(6) {
  animation-delay: 1.2s;
}

.fade-and-move-in *:nth-child(7) {
  animation-delay: 1.4s;
}

.fade-and-move-in *:nth-child(8) {
  animation-delay: 1.6s;
}

.fade-and-move-in *:nth-child(9) {
  animation-delay: 1.8s;
}